<!DOCTYPE html>
<html lang="en">

<head>

    <title>SLASH</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"> -->

</head>

<body>
    <h1> SLASH </h1>
    <div style="display: flex;">
        <form action="{{ url_for('get_products')}}" method=POST enctype="multipart/form-data">
            <input type="text" name="product" id="product_input" required="required" />
            <button type="submit">Check</button>
        </form>
    </div>
    <p> Here is the List of products you requested for : </p>
    <div class="products-list">
        <!-- <ul> -->

            {% for item in res1 %}
            <!-- <li> -->

                <div class="card ">
                    <div >
                      <img  class="img-block" src="{{item.image}}">
                    </div>
                    <p class="card-title">{{item.title}}</p>
                    <hr>
                    <div class="card-content">
                        <b>{{item.price}} </b> on
                        {{item.source}}
                    </div>
                    <div class="card-action">
                        <a href="{{item.link}}" target="_blank">Buy Now</a>

                    </div>
                  </div>


                <!-- <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"> {{item.title}} </span>
                        {{item.price}}
                        {{item.source}}
                        {{item.image}}
                    </div>
                    <div class="card-action">
                        <a href="{{item.link}}" target="_blank">Buy Now</a>

                    </div>

                </div> -->
            <!-- </li> -->
                
                
            {% endfor %}


            {% for item in res2 %}
            <!-- <li> -->
                <!-- <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"> {{item.title}} </span>
                        {{item.price}}
                        {{item.source}}
                    </div>
                    <div class="card-action">
                        <a href="{{item.link}}" target="_blank">Buy Now</a>
                        <span> </span>
                    </div>

                </div> -->

                <div class="card">
                    <div >
                        <img  class="img-block" src="{{item.image}}">
                      </div>
                      
                    <p class="card-title">{{item.title}}</p>
                    <hr>
                    <div class="card-content">
                        <b>{{item.price}}</b> on
                        {{item.source}}
                    </div>
                    <div class="card-content"> Rating:
                        {{item.rating}}
                    </div>
                    <div class="card-content"> Delivery:
                        {{item.delivery}}
                    </div>
                    <div class="card-action">
                        <a href="{{item.link}}" target="_blank" class="buy-btn">Buy Now</a>

                    </div>
                  </div>
            <!-- </li> -->
                
                
            {% endfor %}
        <!-- </ul> -->
        
        <!-- {{ res1 }}
        {{ res2 }} -->

    </div>
</body>
<script>
</script>

</html>