<!DOCTYPE html>
<html lang="en">

<head>

    <title>SLASH</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"> -->

</head>

<body>
    <h1> SLASH </h1>
    <div style="display: flex;">
        <form action="{{ url_for('get_products')}}" method=POST enctype="multipart/form-data">
            <input type="text" name="product" id="product_input" required="required" />
            <button type="submit">Check</button>
        </form>
    </div>
    <p> Here is the List of products you requested for : </p>
    <div class="products-list">
        <!-- <ul> -->

            {% for item in res1 %}

                <div class="card ">
                    <div >
                      <img  class="img-block" src="{{item.image}}">
                    </div>
                    <p class="card-title">{{item.title}}</p>
                    <hr>
                    <div class="card-content">
                        <b>{{item.price}} </b> on
                        {{item.source}}<br>
                        {{item.price_description}}
                    </div>
                    <div class="card-action">
                        <a href="{{item.link}}" target="_blank">Buy Now</a>

                    </div>
                  </div>


               
                
            {% endfor %}


            {% for itemnew in res2 %}

                <div class="card ">
                    <div >
                      <img  class="img-block" src="{{itemnew.image}}">
                    </div>
                    <p class="card-title">{{itemnew.title}}</p>
                    <hr>
                    <div class="card-content">
                        <b>{{itemnew.price}} </b> on
                        {{itemnew.source}}<br>
                        {{itemnew.price_description}}
                    </div>
                    <div class="card-action">
                        <a href="{{itemnew.link}}" target="_blank">Buy Now</a>

                    </div>
                  </div>


                
                
                
            {% endfor %}

        <!-- </ul> -->
        
        <!-- {{ res1 }}
        {{ res2 }} -->

    </div>
</body>
<script>
</script>

</html>